MINI PROJECT

In [38]:
#Transforming the csv file into a dataframe
import pandas as pd

df_olist_customers = pd.read_csv('dataset/olist_customers_dataset.csv')
df_olist_sellers = pd.read_csv('dataset/olist_sellers_dataset.csv')
df_olist_order_reviews = pd.read_csv('dataset/olist_order_reviews_dataset.csv')
df_olist_order_items = pd.read_csv('dataset/olist_order_items_dataset.csv')
df_olist_products = pd.read_csv('dataset/olist_products_dataset.csv')
df_olist_geolocation = pd.read_csv('dataset/olist_geolocation_dataset.csv')
df_product_category_translation = pd.read_csv('dataset/product_category_name_translation.csv')
df_olist_orders = pd.read_csv('dataset/olist_orders_dataset.csv')
df_olist_order_payments = pd.read_csv('dataset/olist_order_payments_dataset.csv')


print(df_olist_customers.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [39]:
#Connection to the database Brazilian_ecommerce in PG admin via sqlalechmy 
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:1234@localhost:5432/brazilian_ecommerce')
conn = engine.connect()

In [45]:
#creating table for each dataframe

dataframes = {
    'olist_customers': df_olist_customers,
    'olist_sellers': df_olist_sellers,
    'olist_order_reviews': df_olist_order_reviews,
    'olist_order_items': df_olist_order_items,
    'olist_products': df_olist_products,
    'olist_geolocation': df_olist_geolocation,
    'product_category_translation': df_product_category_translation,
    'olist_orders': df_olist_orders,
    'olist_order_payments': df_olist_order_payments
}

for table_name, dataframe in dataframes.items():
    dataframe.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"Table {table_name} insérée avec succès !")

Table olist_customers insérée avec succès !
Table olist_sellers insérée avec succès !
Table olist_order_reviews insérée avec succès !
Table olist_order_items insérée avec succès !
Table olist_products insérée avec succès !
Table olist_geolocation insérée avec succès !
Table product_category_translation insérée avec succès !
Table olist_orders insérée avec succès !
Table olist_order_payments insérée avec succès !

Query 1: Count and Percentage of Orders Purchased in Jan 2018 with 5 Review Score

In [ ]:
query = '''select count(*)* 100.0 / (select count(*) from olist_orders) as percentage_of_5_star_orders 
from olist_orders as orders
join olist_order_reviews as reviews
on orders.order_id = reviews.order_id
where orders.order_purchase_timestamp between '2018-01-01' and '2018-01-31'
and reviews.review_score = 5'''


result = pd.read_sql_query(query, conn)
print(result)

   percentage_of_5_star_orders
0                     3.965165

Query 2: Customer Purchase Trend Year-on-Year

In [ ]:
#converting the column order_purchase_timestamps to real timestamp. and displaying the trend year by year  

query = '''select 
EXTRACT(year from TO_TIMESTAMP(order_purchase_timestamp, 'YYYY-MM-DD HH24:MI:SS')) AS year,
count(*) AS total_orders
from olist_orders
group by year
order by year
'''

result = pd.read_sql_query(query, con=engine)
print(result)

     year  total_orders
0  2016.0           329
1  2017.0         45101
2  2018.0         54011

Query 3: Average Order Values of Customers

In [ ]:
query = """
SELECT 
    orders.customer_id,
    AVG(payments.payment_value) AS average_payment_value
FROM 
    olist_order_payments AS payments
JOIN 
    olist_orders AS orders
ON 
    payments.order_id = orders.order_id
GROUP BY 
    orders.customer_id
ORDER BY 
    average_payment_value DESC;
"""

result = pd.read_sql_query(query, con=engine)
print(result)

                            customer_id  average_payment_value
0      1617b1357756262bfa56ab541c47bc16           13664.080000
1      ec5b2ba62e574342386871631fafd3fc            7274.880000
2      c6e2731c5b391845f6800c97401a43a9            6929.310000
3      f48d464a0baaea338cb25f816991ab1f            6922.210000
4      3fd6777bbce08a352fddd04e4a7cc8f6            6726.660000
...                                 ...                    ...
99435  b246eeed30b362c09d867b9e598bee51               1.856818
99436  fd123d346a17cdf5e37a2a85501069bf               1.737500
99437  3532ba38a3fd242259a514ac2b6ae6b6               0.000000
99438  a73c1f73f5772cf801434bf984b0b1a7               0.000000
99439  197a2a6a77da93f678ea0d379f21da0a               0.000000

[99440 rows x 2 columns]

Query 4: Top 5 Cities with Highest Revenue from 2016 to 2018

In [43]:
query = '''select 
    customers.customer_city as city,
    sum(payments.payment_value) as total_revenue
from 
    olist_customers as customers
join 
    olist_orders as orders
on 
    customers.customer_id = orders.customer_id
join 
    olist_order_payments as payments
on 
    orders.order_id = payments.order_id
where 
    orders.order_purchase_timestamp between '2016-01-01' and '2018-12-31'
group by 
    customers.customer_city
order by 
    total_revenue desc
limit 5
'''

result = pd.read_sql_query(query, con=engine)
print(result)

             city  total_revenue
0       sao paulo      339577.87
1  rio de janeiro      201189.31
2  belo horizonte       55447.75
3        brasilia       47377.76
4        curitiba       42420.93

Query 5: State Wise Revenue Table Between 2016 to 2018

In [44]:
import pandas as pd

query = """
SELECT 
    customers.customer_state AS state,
    SUM(payments.payment_value) AS total_revenue
FROM 
    olist_customers AS customers
JOIN 
    olist_orders AS orders
ON 
    customers.customer_id = orders.customer_id
JOIN 
    olist_order_payments AS payments
ON 
    orders.order_id = payments.order_id
WHERE 
    orders.order_purchase_timestamp BETWEEN '2016-01-01' AND '2018-12-31'
GROUP BY 
    customers.customer_state
ORDER BY 
    total_revenue DESC;
"""

result = pd.read_sql_query(query, con=engine)
print(result)

   state  total_revenue
0     SP      922397.64
1     RJ      351314.91
2     MG      269606.92
3     RS      130035.58
4     PR      129321.65
5     BA       96700.84
6     SC       96226.70
7     GO       53303.12
8     PE       50188.45
9     DF       47377.76
10    CE       47285.35
11    ES       41324.14
12    PA       36984.59
13    MA       25295.45
14    PB       24371.96
15    MT       23108.53
16    MS       16556.78
17    PI       13939.81
18    RN       13659.11
19    SE       12256.56
20    AL       10955.76
21    RO        8456.98
22    TO        6344.91
23    AM        4509.03
24    AC        4075.20
25    RR        1313.72
26    AP         868.71