ðŸŒŸ Exercise 1: Duplicate Detection and Removal

In [403]:
import pandas as pd

train_data = pd.read_csv('train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [404]:
train_data.duplicated().sum()
# 0 duplicate

0

In [405]:
#just to be sure:
train_data = train_data.drop_duplicates()
train_data.duplicated().sum()

0

ðŸŒŸ Exercise 2: Handling Missing Values

In [406]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [407]:
train_data.drop(columns=['Ticket'], inplace=True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [408]:
train_data['Cabin'] =train_data['Cabin'].fillna('Unknown')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [409]:
from sklearn.impute import SimpleImputer
age_imputer = SimpleImputer(strategy='median')
train_data['Age'] = age_imputer.fit_transform(train_data[['Age']])
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [410]:
train_data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [411]:
train_data['Embarked'].dtype

dtype('O')

In [412]:
train_data['Embarked'] = train_data['Embarked'].astype(str)

In [413]:
embarked_imputer = SimpleImputer(strategy='most_frequent')

In [414]:
train_data['Embarked'] = train_data['Embarked'].fillna(train_data['Embarked'].mode()[0])

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    object
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

ðŸŒŸ Exercise 3: Feature Engineering

In [415]:
train_data['FamilySize'] = train_data['SibSp'] + train_data['Parch'] + 1

In [416]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,Unknown,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,Unknown,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,Unknown,S,1

In [417]:
train_data['Title'] = train_data['Name'].str.split(',').str[1].str.split('.').str[0].str.strip()
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,Unknown,S,2,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C,2,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,Unknown,S,1,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S,2,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,Unknown,S,1,Mr

In [418]:
train_data['Sex'] = train_data['Sex'].map({'male': 0, 'female': 1})
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,Unknown,S,2,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85,C,2,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,Unknown,S,1,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,53.1000,C123,S,2,Mrs
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,8.0500,Unknown,S,1,Mr

In [419]:
from sklearn.preprocessing import LabelEncoder
train_data['Embarked'] = LabelEncoder().fit_transform(train_data['Embarked'])
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,Unknown,2,2,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85,0,2,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,Unknown,2,1,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,53.1000,C123,2,2,Mrs
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,8.0500,Unknown,2,1,Mr

In [420]:
train_data['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [421]:
from sklearn.preprocessing import MinMaxScaler
train_data[['Fare_normalize']] = MinMaxScaler().fit_transform(train_data[['Fare']])

In [422]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize,Title,Fare_normalize
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,Unknown,2,2,Mr,0.014151
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85,0,2,Mrs,0.139136
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,Unknown,2,1,Miss,0.015469
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,53.1000,C123,2,2,Mrs,0.103644
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,8.0500,Unknown,2,1,Mr,0.015713

In [423]:
from sklearn.preprocessing import StandardScaler
train_data[['Age_standardize']] = StandardScaler().fit_transform(train_data[['Age']])

In [424]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize,Title,Fare_normalize,Age_standardize
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,Unknown,2,2,Mr,0.014151,-0.565736
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85,0,2,Mrs,0.139136,0.663861
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,Unknown,2,1,Miss,0.015469,-0.258337
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,53.1000,C123,2,2,Mrs,0.103644,0.433312
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,8.0500,Unknown,2,1,Mr,0.015713,0.433312

ðŸŒŸ Exercise 4: Outlier Detection and Handling

In [425]:
train_data['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [426]:
Q1 = train_data['Fare'].quantile(0.25)
Q1

7.9104

In [427]:
Q3 = train_data['Fare'].quantile(0.75)
Q3

31.0

In [428]:
IQR = Q3 - Q1
IQR

23.0896

In [429]:
outlier_condition = (train_data['Fare'] < (Q1 - 1.5 * IQR)) | (train_data['Fare'] > (Q3 + 1.5 * IQR))
outlier_condition.sum()

116

In [430]:

import numpy as np
train_data['Fare_Log'] = train_data['Fare'].apply(lambda x: np.log(x + 1))

In [431]:
# train_data.head()

In [432]:
Q1 = train_data['Age'].quantile(0.25)
Q3 = train_data['Age'].quantile(0.75)
IQR = Q3 - Q1

In [433]:
outlier_condition = (train_data['Age'] < (Q1 - 1.5 * IQR)) | (train_data['Age'] > (Q3 + 1.5 * IQR))
outlier_condition.sum()

66

In [434]:
train_data['Age'].describe()

count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

ðŸŒŸ Exercise 5: Data Standardization and Normalization

In [435]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      891 non-null    int64
 1   Survived         891 non-null    int64
 2   Pclass           891 non-null    int64
 3   Name             891 non-null    object
 4   Sex              891 non-null    int64
 5   Age              891 non-null    float64
 6   SibSp            891 non-null    int64
 7   Parch            891 non-null    int64
 8   Fare             891 non-null    float64
 9   Cabin            891 non-null    object
 10  Embarked         891 non-null    int64
 11  FamilySize       891 non-null    int64
 12  Title            891 non-null    object
 13  Fare_normalize   891 non-null    float64
 14  Age_standardize  891 non-null    float64
 15  Fare_Log         891 non-null    float64
dtypes: float64(5), int64(8), object(3)
memory usage: 111.5+ KB

In [436]:
train_data.describe()
#tout est deja standardise/normalise

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,Fare_normalize,Age_standardize,Fare_Log
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,8.910000e+02,891.000000
mean,446.000000,0.383838,2.308642,0.352413,29.361582,0.523008,0.381594,32.204208,1.538721,1.904602,0.062858,2.272780e-16,2.962246
std,257.353842,0.486592,0.836071,0.477990,13.019697,1.102743,0.806057,49.693429,0.794231,1.613459,0.096995,1.000562e+00,0.969048
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-2.224156e+00,0.000000
25%,223.500000,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,1.000000,1.000000,0.015440,-5.657365e-01,2.187218
50%,446.000000,0.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,2.000000,1.000000,0.028213,-1.046374e-01,2.737881
75%,668.500000,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,2.000000,2.000000,0.060508,4.333115e-01,3.465736
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,3.000000,11.000000,1.000000,3.891554e+00,6.240917

ðŸŒŸ Exercise 6: Feature Encoding
already done before

ðŸŒŸ Exercise 7: Data Transformation for Age Feature

In [437]:
train_data['AgeGroup'] = pd.cut(train_data['Age'], bins=[0, 18, 50, 80], labels=['Child', 'Adult', 'Senior'])

In [438]:
train_data[['Age', 'AgeGroup']].head(15)

     Age AgeGroup
0   22.0    Adult
1   38.0    Adult
2   26.0    Adult
3   35.0    Adult
4   35.0    Adult
5   28.0    Adult
6   54.0   Senior
7    2.0    Child
8   27.0    Adult
9   14.0    Child
10   4.0    Child
11  58.0   Senior
12  20.0    Adult
13  39.0    Adult
14  14.0    Child

In [439]:
train_data['AgeGroup'].value_counts()

AgeGroup
Adult     688
Child     139
Senior     64
Name: count, dtype: int64

In [442]:
train_data = pd.get_dummies(train_data, columns=['AgeGroup'])

KeyError: "None of [Index(['AgeGroup'], dtype='object')] are in the [columns]"

In [443]:
train_data.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize,Title,Fare_normalize,Age_standardize,Fare_Log,AgeGroup_Child,AgeGroup_Adult,AgeGroup_Senior
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,Unknown,2,2,Mr,0.014151,-0.565736,2.110213,False,True,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85,0,2,Mrs,0.139136,0.663861,4.280593,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,Unknown,2,1,Miss,0.015469,-0.258337,2.188856,False,True,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,53.1000,C123,2,2,Mrs,0.103644,0.433312,3.990834,False,True,False
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,8.0500,Unknown,2,1,Mr,0.015713,0.433312,2.202765,False,True,False
5,6,0,3,"Moran, Mr. James",0,28.0,0,0,8.4583,Unknown,1,1,Mr,0.016510,-0.104637,2.246893,False,True,False
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,51.8625,E46,2,1,Mr,0.101229,1.893459,3.967694,False,False,True
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,21.0750,Unknown,2,5,Master,0.041136,-2.102733,3.094446,True,False,False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,11.1333,Unknown,2,3,Mrs,0.021731,-0.181487,2.495954,False,True,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,30.0708,Unknown,0,2,Mrs,0.058694,-1.180535,3.436268,True,False,False
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,16.7000,G6,2,3,Miss,0.032596,-1.949034,2.873565,True,False,False
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,26.5500,C103,2,1,Miss,0.051822,2.200858,3.316003,False,False,True
12,13,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,8.0500,Unknown,2,1,Mr,0.015713,-0.719436,2.202765,False,True,False
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,31.2750,Unknown,2,7,Mr,0.061045,0.740711,3.474293,False,True,False
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,7.8542,Unknown,2,1,Miss,0.015330,-1.180535,2.180892,True,False,False